<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
</head>    
<body> 
    <div class="container1" align="center"> 
        <h1 align="center">Pension Management System</h1>
        </div>  
     
        <div class="container" align="center">

            <h3> Login</h3>
            <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm" ngNativeValidate>
                
                <i>Username:</i> <input type="text" class="form-control" placeholder="Enter your username" name="userName" id="userName" required ngModel ><br>
                 <i>Password: </i><input type="password" class="form-control" placeholder="Enter your password" name="password" id="password" required ngModel><br>
                <button type="submit" class="btn btn-primary">Login</button><br>

               
                <p>{{message}}</p>
             </form>
            
        </div>  

            
          
         
</body>   
 
</html>