<div class="container1"  align="right" >
	
	<button type="submit"  class="btn-grad"(click)="home()">home</button>

</div>
<div class="container" align="center"  >
    <h2>Pension By Aadhar</h2>
    <form (ngSubmit)="pensionerByAadhar(pensionDetail.value.aadharNumber)" #pensionDetail="ngForm" id="box" ngNativeValidate>
		<h2>Enter Details</h2><br>
        Aadhar Number:
                <input type="number" class="form-control" name="aadharNumber" id="aadharNumber" required ngModel />
           
            <br><br>
		  <input type="submit" class="form__button"
				value="Submit"/>
		
	</form>
		</div>
		<div class="container">
<h2 align="center">Pensioner Details</h2>
		
			
			<br>
			<table class="table table-striped table-bordered" align="center" id="t1">
				<tr>
					<th>Aadhar Number</th>
					<th>Name</th>
					<th>DateOfBirth</th>
					<th>PAN</th>
					<th>Salary</th>
					<th>Allowances</th>
					<th>Pension Type</th>
					<th>Bank Name</th>
					<th>Account Number</th>
					<th>Bank Type</th>
				</tr>
				<tr *ngIf="p">
					<td>{{p.aadharNumber}}</td>
					<td>{{p.name}}</td>
					<td>{{p.dateOfBirth}}</td>
					<td>{{p.pan}}</td>
					<td>{{p.salaryEarned}}</td>
					<td>{{p.allowances}}</td>
					<td>{{p.pensionType}}</td>
					<td>{{p.bankName}}</td>
					<td>{{p.accountNumber}}</td>
					<td>{{p.bankType}}</td>
					
		
				</tr>
				
			</table>
		</div>
		