
<h1 align="center">Pension Management System</h1>

	<!--div class="container1"  align="right" >
	
		<button type="submit"  class="btn-grad"(click)="logout()">logout</button>
	 
	
	</div>-->

	<form align="center">
<div class="container" align="center"  >
	<button  (click)="pensionerDetails();" class="btn-grad">Pensioner Details</button>
	<br><br>
    <button  (click)="pensionDisbursement()" class="btn-grad">Pension Disbursement</button><br><br>
	<button  (click)="pensionDetail()" class="btn-grad">Pension Detail</button><br><br>
	<button  (click)="processPension()" class="btn-grad">Process Pension</button><br><br>
	<button  (click)="pensionerByAaadhar()" class="btn-grad">Pensioner Details by Aadhar</button><br><br>
	<button type="submit"  class="btn-grad"(click)="logout()">logout</button>
</div>
</form>


